## HTTP Status Code
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

## GET

In [1]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [3]:
#res.text

## POST

In [4]:
import requests
url = 'https://www.thsrc.com.tw/tw/TimeTable/Search'
payload = {
'StartStationName':  '台北站',
'EndStationName':  '新竹站',
'SearchType': 'S',
'StartStation': '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation': 'a7a04c89-900b-4798-95a3-c01c455622f4',
'DepartueSearchDate': '2019/10/18',
'DepartueSearchTime': '18:30'    
}
res = requests.post(url, data = payload)
res

In [7]:
#res.text
#res.json()

## 練習題
- https://24h.pchome.com.tw/prod/DYAJFW-A900A8XY0?fq=/S/DYAJFW

In [8]:
import requests
res = requests.get('https://24h.pchome.com.tw/ecapi/ecshop/prodapi/v2/prod/button&id=DYAJFW-A900A8XY0&fields=Seq,Id,Price,Qty,ButtonType,SaleStatus,isPrimeOnly,SpecialQty&_callback=jsonp_button&1571369580?_callback=jsonp_button')
res.text

'try{jsonp_button([{"Seq":23510576,"Id":"DYAJFW-A900A8XY0-000","Price":{"M":0,"P":52400,"Prime":""},"Qty":3,"ButtonType":"ForSale","SaleStatus":1,"isPrimeOnly":0,"SpecialQty":0}]);}catch(e){if(window.console){console.log(e);}}'

In [10]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
#res.text

In [12]:
type(res)

requests.models.Response

## BeautifulSoup

In [11]:
from bs4 import BeautifulSoup 
html_sample = ''' 
<html> 
 <body> 
 <h1 id="title">Hello World</h1> 
 <a href="#" class="link">This is link1</a> 
 <a href="# link2" class="link">This is link2</a> 
 </body> 
 </html>'''

soup = BeautifulSoup(html_sample, 'lxml')
print(soup.text)

Hello World
This is link1
This is link2

In [13]:
type(soup)

bs4.BeautifulSoup

In [14]:
soup.select_one('h1')

In [15]:
soup.select_one('h1').text

'Hello World'

In [16]:
soup.select_one('a')

In [17]:
soup.select_one('a').text

'This is link1'

In [18]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [19]:
alink = soup.select('a')
alink[0]

In [20]:
alink[0].text

'This is link1'

In [21]:
alink[1]

In [22]:
alink[1].text

'This is link2'

In [23]:
for rec in alink:
    print(rec.text)

This is link1
This is link2

In [24]:
# id => #
soup.select_one('#title')

In [25]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [26]:
print(html_sample)

<html>
 <body>
 <h1 id="title">Hello World</h1>
 <a href="#" class="link">This is link1</a>
 <a href="# link2" class="link">This is link2</a>
 </body>
 </html>

In [27]:
soup.select_one('h1')

In [28]:
soup.select_one('#title')

In [29]:
soup.select_one('h1#title')

In [30]:
soup.select_one('body h1')

In [31]:
soup.select_one('body h1#title')

## CSS Selector
- https://www.w3schools.com/cssref/css_selectors.asp

In [32]:
print(html_sample)

<html>
 <body>
 <h1 id="title">Hello World</h1>
 <a href="#" class="link">This is link1</a>
 <a href="# link2" class="link">This is link2</a>
 </body>
 </html>

In [33]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [34]:
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [35]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [36]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [37]:
alink = soup.select('body a.link')

In [39]:
for rec in alink:
    #print(rec)
    print(rec.text)

This is link1
This is link2

In [40]:
for rec in alink:
    #print(rec)
    print(rec.get('href'))

#
# link2

## 資料蒐集實務

In [41]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [43]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [60]:
for news in soup.select('li.rtddt'):
    #print(news)
    title = news.select_one('h1').text
    category = news.select_one('h2').text
    dt = news.select_one('time').text
    link = news.select_one('a').get('href')
    #print(link)
    print(title, link, category, dt)
    print('==================================')

再遭拒！民陣10.20九龍大遊行　警發反... https://tw.news.appledaily.com/international/realtime/20191018/1650645/ 國際 13:35
==================================
畫面曝光！轎車綠燈左轉　宜蘭高商教官騎車... https://tw.news.appledaily.com/local/realtime/20191018/1650642/ 社會 13:35
==================================
衛星導航帶路撞樹卡山區　找電桿編號報警脫... https://tw.news.appledaily.com/life/realtime/20191018/1650620/ 生活 13:35
==================================
一位花蓮市民心聲：社區旁的一塊地，到底想... https://tw.news.appledaily.com/forum/realtime/20191018/1650541/ 論壇 13:32
==================================
中國大撒幣時代已逝？　GDP成長創27年... https://tw.news.appledaily.com/international/realtime/20191018/1650618/ 國際 13:32
==================================
【專訪】蔡瑞雪信伊斯蘭教被笑恐怖分子　《... https://tw.entertainment.appledaily.com/realtime/20191018/1650630/ 娛樂 13:31
==================================
韓國瑜不在！蔡英文進擊高雄　比四盼「再給... https://tw.news.appledaily.com/politics/realtime/20191018/1650613/ 政治 13:31
==================================
全球經濟利空不斷　日通膨低迷、德下修展望 https://tw.finance.appledaily.com/realtime/20191018/1650641/ 財經 13:28
==================================
老翁血糖低騎車摔倒　暖警送糖解困 https://tw.news.appledaily.com/local/realtime/20191018/1650626/ 社會 13:27
==================================
在台殺女友港男傳將來台投案　港《蘋果》：... https://tw.news.appledaily.com/international/realtime/20191018/1650510/ 國際 13:26
==================================
多次猥褻智障女　老翁還呼朋引伴遭判刑 https://tw.news.appledaily.com/local/realtime/20191018/1650624/ 社會 13:26
==================================
桃園議員劉安祺服務處槍擊案　兩嫌落網稱「... https://tw.news.appledaily.com/local/realtime/20191018/1650520/ 社會 13:23
==================================
港女命案兇嫌若來台投案　檢：無法保證不判... https://tw.news.appledaily.com/local/realtime/20191018/1650621/ 社會 13:21
==================================
【Video Talk】夢多戳破遊日地雷... https://tw.entertainment.appledaily.com/realtime/20191018/1646011/ 娛樂 13:20
==================================
5月嬰吞兩口炒蛋　秒變「紅孩兒」全身軟癱... https://tw.news.appledaily.com/life/realtime/20191018/1650628/ 生活 13:19
==================================
【直播中】港人續抗爭　午餐時間快閃遊行 https://tw.news.appledaily.com/international/realtime/20191018/1650631/ 國際 13:18
==================================
瘋搶雙11限量優惠　月繳11元享1GB上... https://tw.lifestyle.appledaily.com/gadget/realtime/20191018/1650632/ 3C 13:17
==================================
外送員交通事故頻傳　北市警加強取締違規記... https://tw.news.appledaily.com/local/realtime/20191018/1650607/ 社會 13:16
==================================
自焚常引起火災　柯Ｐ失言亂扯「要自焚去河... https://tw.news.appledaily.com/life/realtime/20191018/1650612/ 生活 13:15
==================================
林佳龍兼蔡英文台中競選總部主委　安定力量... https://tw.news.appledaily.com/politics/realtime/20191018/1650603/ 政治 13:14
==================================
科技建警偵防並重　新北成立全國首支科偵小... https://tw.news.appledaily.com/local/realtime/20191018/1650627/ 社會 13:11
==================================
【獨家】美方盼韓國瑜赴美「面試」　蘇起反... https://tw.news.appledaily.com/politics/realtime/20191018/1650403/ 政治 13:08
==================================
​Libra計劃負責人：若Libra失敗... https://tw.finance.appledaily.com/realtime/20191018/1650617/ 財經 13:07
==================================
周玉蔻又輸了！稱馬英九擁10億「水」庫　... https://tw.news.appledaily.com/local/realtime/20191018/1650460/ 社會 13:06
==================================
赴中國藝人、球星若被逼表態　蘇貞昌：主權... https://tw.news.appledaily.com/politics/realtime/20191018/1650579/ 政治 13:06
==================================
遭影射拿黑錢　黃光芹賴坤成反告韓國瑜誹謗 https://tw.news.appledaily.com/local/realtime/20191018/1650608/ 社會 13:03
==================================
​電子煙全美已釀33死　專家曝青少年5大... https://tw.news.appledaily.com/life/realtime/20191018/1650616/ 生活 13:03
==================================
郭台銘入民眾黨列不分區？　郭辦：暫不在人... https://tw.news.appledaily.com/politics/realtime/20191018/1650625/ 政治 13:03
==================================
原民會明年預算突破10億元　增建文健站提... https://tw.news.appledaily.com/politics/realtime/20191018/1650609/ 政治 13:02
==================================
被捕爆激烈槍戰後　墨西哥釋放大毒梟兒子  https://tw.news.appledaily.com/international/realtime/20191018/1650515/ 國際 13:01
==================================

## 練習題
-  https://news.ltn.com.tw/list/breakingnews

In [62]:
import requests
res = requests.get('https://news.ltn.com.tw/list/breakingnews')
res

In [63]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [72]:
for news in soup.select('.list li'):
    if news.select_one('p'):
        #print(news)
        title = news.select_one('p').text.strip()
        dt = news.select_one('span').text.strip()
        print(title, dt)
        print('========================================')

府城福安坑溪試掘現場磚頭 文史工作者：與熱蘭遮城尺寸吻合 13:52
========================================
韓國瑜將到台南造勢 藍營選將：行程一再改、來去一陣風 13:49
========================================
郭彥甫尋「旅行箱畫作」靈感 驚見女性友人「內衣照」 13:49
========================================
郭台銘是否列民眾黨不分區 郭辦：暫時不在規劃中 13:47
========================================
韓國瑜空喊中華民國？學者：不敢要求北京正視存在 13:46
========================================
土耳其同意停火 敘利亞庫德族民兵接受協議 13:45
========================================
評韓國瑜兩岸政策 學者：還是在當「韓總機」 13:44
========================================
中捷綠線隔音牆獨漏烏日 市府允諾有住戶部份先設 13:43
========================================
中國「刷臉」辨識有漏洞...印刷照片竟能成功騙過機器 13:43
========================================
台虎名古屋航線12/1起  改降日本中部機場第二航廈 13:42
========================================
一路向南》歐盟要撤銷EBA！柬埔寨為什麼怕得要死？ 13:42
========================================
有如芝加哥脫胎換骨 賴清德：蔡總統過去3年為台灣「除鏽」 13:36
========================================
黃光芹「開吉」韓國瑜 民眾應援央合照 13:33
========================================
地層下陷防治宣導 兒童劇團前進台南北門錦湖演給你看 13:33
========================================
中職》台灣大賽帶兵失利丟飯碗  伯納近10年第4人? 13:30
========================================
頭痛人物又當街「練武功」！這次踼到鐵板收罰單 13:29
========================================
蔡英文：3年基礎建設有成  美鼓勵500大企業投資台灣 13:23
========================================
小輸去年！但全球仍有半數 iPhone 已升級 iOS 13 13:23
========================================
國有地承租爭議洪慈庸協調成功 完成老農30年心願 13:23
========================================

## Apple Break
- https://gist.github.com/ywchiu/c2363caa0ae9261babeaea49e4a710fa

## 抓取內文

In [74]:
import requests
res = requests.get('https://tw.news.appledaily.com/international/realtime/20191018/1650618/')
#res.text

In [75]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [78]:
print(soup.select_one('h1').text)

中國大撒幣時代已逝？　GDP成長創27年來最差

In [80]:
soup.select_one('.ndArticle_margin p').text

'中國自改革開放後，這20多年來經濟不斷起飛成長，甚至成為威震世界的「大撒幣之國」，但最新經濟數據顯示，中國第3季國內生產總值(GDP)年增率放緩至6%，也創下27年以來的新低點。中國國家統計局今日公布最新經濟數據，發言人毛盛勇公布中國前3季度GDP總值為人民幣69兆7798億元，年增率6.2%。其中第3季GDP的年增率為6%，中國GDP年增率從去年開始呈現下滑趨勢，今年第1季為6.4%，第2季為6.2%，但第3季只有6%，這也是自1992年以來的最低值。中國政府對於今年的GDP目標年增率，設定在6~6.5%，而第3季呈現「低空掠過」的狀態。數據報告也顯示，今年手機與汽車產業不振，讓工業成長值有減緩趨勢。國家統計局表示，當前中國國內外經濟形勢依然複雜嚴峻，全球經濟增長放緩，外部不穩定不確定因素增多，導致國內經濟下行壓力較大。縱使如此，中國當局仍堅持走「習近平路線」，強調以「習近平新時代中國特色社會主義思想」為指導，讓經濟走穩，並進一步改革開放，拓寬國內市場需求挖潛力，促進經濟持續健康發展。瑞穗銀行(Mizuho Bank)經濟與策略總監瓦拉坦(Vishnu Varathan)就直言：「無庸置疑，中國經濟衰退地相當嚴重。」《日本經濟新聞》也分析指出，中美貿易戰導致中國出口低迷，消費與投資的狀況不理想，而中國的經濟成長減慢速度，非常有可能導致世界經濟混亂。（施旖婕／綜合外電報導）'

In [82]:
soup.select_one('.ndArticle_creat').text

'出版時間：2019/10/18 13:32'

## DateTime
- https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [83]:
from datetime import datetime
currenttime = datetime.now()

In [84]:
currenttime

datetime.datetime(2019, 10, 18, 14, 37, 20, 127027)

In [85]:
currenttime.strftime('%Y-%m-%d')

'2019-10-18'

In [86]:
a = '2019-09-03 14:00' 
print(datetime.strptime(a, "%Y-%m-%d %H:%M"))

2019-09-03 14:00:00

In [87]:
dt = datetime.strptime('2019-12-31', "%Y-%m-%d")
dt

datetime.datetime(2019, 12, 31, 0, 0)

In [88]:
dt - currenttime

datetime.timedelta(73, 33759, 872973)

In [89]:
dt = soup.select_one('.ndArticle_creat').text
dt

'出版時間：2019/10/18 13:32'

In [90]:
datetime.strptime(dt, '出版時間：%Y/%m/%d %H:%M')

datetime.datetime(2019, 10, 18, 13, 32)

In [93]:
soup.select_one('.ndgTag a.current').text

'國際'

In [140]:
def pageDetail(url):
    res = requests.get(url)
    soup = BeautifulSoup(res.text)
    #print(res.text)
    if soup.select_one('h1'):
        title = soup.select_one('h1').text
    else:
        title = soup.select_one('title').text

    if soup.select_one('.ndArticle_margin p'):
        content = soup.select_one('.ndArticle_margin p').text
    else:
        m = re.search('"content_elements":(\[.*?\]),',res.text)
        content = eval(m.group(1))[0]['content']
    
    if soup.select_one('.ndArticle_creat'):
        dt = soup.select_one('.ndArticle_creat').text
        dt = datetime.strptime(dt, '出版時間：%Y/%m/%d %H:%M')
    else:
        m = re.search('"last_updated_date":"(.*?)"',res.text)
        dt = m.group(1)
    if soup.select_one('.ndgTag a.current'):
        category = soup.select_one('.ndgTag a.current').text
    else:
        category = None
    return {'title': title, 'content': content, 'dt': dt, 'category': category}

In [141]:
pageDetail('https://tw.news.appledaily.com/forum/20191018/2PSLCMNC376LJBCMC24TVOSL5I/')

{'title': '',
 'content': '廖倫瑜／研究助理<br /><br />《蘋果日報》今日獨家報導指出，由於韓國瑜代表國民黨出馬競選的態勢已經確定，因此美國已向韓陣營傳達樂見他赴美「面試」。美方這次表現高度的誠意和善意，透過國民黨立委許毓仁傳話，主動表達邀請他赴美說明政策立場。不僅如此，為了減低韓國瑜的壓力，美方還提前「洩題」，希望韓到時能夠說明關於台灣未來是否在經濟上有過度依賴中國之虞等幾個問題，<br /><br />即便美國已經如此盛意拳拳，甚至都已把考卷快遞到家，但韓國瑜陣營卻還是傳出，內部對於是否讓韓訪美這件事意見喬不攏，有人說該去，有人說不該去。美方的作法幾乎等同在一場棒球比賽中，投手宣告將投出正中直球，放水讓打者可以把球打得又高又遠，而韓陣營的回應竟然是猶豫該不該讓打者站上打擊區？最後決定不赴美「面試」，這是什麼邏輯？<br /><br />據傳，其中反對韓國瑜赴美最力的，就是他國政顧問團中的頭號要角蘇起。蘇認為要是韓國瑜準備不足，到時赴美表現不如預期甚至被打臉，到時反而大大失分，因此不如顧好國內選舉就好。這說法乍聽有理，但細思之後卻有說不通之處。如果美國方面都已洩題，希望他對幾個美方關切的問題做出說明，那韓陣營要做的就是幕僚工作，幫老闆把答案寫好，讓他到美國照稿念即可。而幫韓國瑜準備答案不就是國政顧問團的工作嗎？難道蘇起國政顧問團的能力和學養沒有信心嗎？<br /><br />但是只要撇一眼韓國瑜國政顧問團的名單就知道，裡面不是久歷官場的政壇老兵，就是望重士林的大學教授。依這些人的學養跟能力，答一份已經知道問題的考卷根本就易如反掌，根本完全不可能有「準備不足，赴美被打臉」的情況發生。顯見，問題絕對不是出在韓的幕僚作業上，而是國政顧問團根本不認為韓國瑜有能力給美國人留下好印象。<br /><br />相信不少人都對韓國瑜今年8月應邀至台北美國商會（The American Chamber of Commerce in Taipei）時，發表的中英文夾雜演說還記憶猶新。那時韓國瑜有一句話是這麼說的：「我的 tuition in the fee，大學生活費都是American Chamber pay me」，這種不倫不類的中英文夾雜，不僅不該出現在正式演說中，韓國瑜甚至還把美國商會的全稱講錯。可以想見，幕僚給韓市長的絕對不可能是一篇中英夾雜的演說稿，這顯然是韓國瑜自作聰明的即興演出。在韓眼中，他認為他的「自作聰明」會給他加分，但殊不知在美國人和外界看來，這既不莊重又自曝其短。<br /><br />也就是說，蘇起等人非常清楚，即便他們手中已有一張洩題的考卷，而國政顧問團也為韓國瑜擬定了完美的答案，屆時韓還是有極大的可能「自作聰明」的脫稿演出，導致他「準備不足，赴美被打臉」。這種「自作聰明」反映了韓本人在知識上和格局上的侷限，簡單來說就是上不了檯面，而最清楚這個侷限的當然就是他所倚重的國政顧問團。因此，為什麼蘇起要反對韓國瑜訪美，實在就是護主心切，不想韓市長自曝其短，丟臉丟到國外去啊！',
 'dt': '2019-10-18T07:08:23.718Z',
 'category': None}

In [112]:
pageDetail('https://tw.entertainment.appledaily.com/realtime/20191018/1650128')

{'title': '【狗仔直擊】郭台銘幕後老闆是她\u3000迎70嗨喊「老婆最大」',
 'content': '鴻海創辦人郭台銘（郭董）今天70大壽，《蘋果新聞網》前天直擊「投銀教父」宋學仁、張清芳夫婦，及身家超過數千億的企業大佬們，替郭董暖壽。郭董切蛋糕時臉上堆滿幸福笑意，深情攬著曾馨瑩，在眾人面前，曾馨瑩則顯得有些害羞；據悉，往年郭董過壽，都會買鮮花送給90多歲的郭媽媽，而郭媽媽則精心準備卡片、禮物送給兒子；郭董的寶貝兒女也會寫上卡片送給老爸，曾馨瑩昨向《蘋果》表示：「家人團聚在一起吃飯，就是最好的禮物。」《蘋果》昨在富錦街做訪問巧遇張清芳，她透露精心挑選1950年、郭董出生年份紅酒作為壽禮，席間，郭董戲稱老婆曾馨瑩「是我的老闆、老婆最大」，讓人窺見霸氣郭董私下幽默風趣的一面，賢內助曾馨瑩見到老公開心喝多了，不忘貼心請友人替郭董買解酒液。張清芳前晚身穿GALVAN LONDON的上衣優雅出席，郭董在台北君品酒店頤宮的生日晚宴，包廂席開2桌，男、女賓客各坐一桌，現場除了各式1950年份的紅白酒及香檳，還備有郭董最愛飲用的汾酒；郭董與老婆曾馨瑩同樣生肖屬「虎」，君品酒店精心備有Q版老虎紋飾蛋糕及虎頭拉花拿鐵。張清芳說，因為這半年來郭董相當辛苦，藉此次飯局替郭董加油打氣，問她前晚品嘗1950年份紅、白酒滋味如何？她笑說：「就是富有年紀的味道、酒越沉越香。」問及郭董當晚許下的生日心願為何？張清芳甜笑求饒說：「這太敏感，我不方便透露啦。」而身為人母的張清芳，笑稱因隔日小孩還要上學，因此先行離去。談到近況，張清芳才開打話匣子說，之前為了辦演唱會，重訓及快走，意外造成膝蓋半月板軟骨撕裂傷，為此一周需3天針灸治療，讓她不能穿上最愛的高跟鞋，她向《蘋果》坦言「心情有點沮喪」，還曾心想「Why Me，這不是像運動員如林書豪才會有的運動傷害嗎？」不過，天性樂觀的張清芳笑說：「就要面對它，只要能醫的都不是病。」她說也多虧認識了眾多醫師好友，才會很快發現病因，也才有這些年義唱的演出機會，她下月1日將為榮總60周年，再開金嗓義唱。（特勤中心、林丞偉／台北報導）',
 'dt': datetime.datetime(2019, 10, 18, 0, 1),
 'category': '娛樂時尚'}

##  完整蘋果爬蟲

In [113]:
import requests
res  = requests.get('https://tw.appledaily.com/new/realtime')

In [114]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [142]:
newsary = []
for news in soup.select('li.rtddt a'):
    url = news.get('href')
    try:
        newsary.append(pageDetail(url))
    except Exception as e:
        print(url)

https://tw.sports.appledaily.com/realtime/20191018/1650706/
https://tw.sports.appledaily.com/realtime/20191018/1650695/

In [143]:
len(newsary)

28

In [144]:
newsary[2]

{'title': '韓國瑜證實取消訪美\u3000規劃李佳芬代夫出征',
 'content': '國民黨總統參選人、高雄市長韓國瑜請長假下鄉拚大選，上午臨時銷假回高雄市政府會見美國在台協會主席莫健，下午恢復請假繼續到屏東跑傾聽之旅行程。韓國瑜先前往高樹鄉與地方農民進行農業座談，會後接受媒體聯訪時，韓國瑜親自證實已向莫健表達，在時間壓力下，美國行無法成行，之後如果有時間，將規劃請夫人李佳芬代表韓國瑜訪美，拜會海外僑胞。韓國瑜表示，上午與莫健見面，除了對莫健表達感謝外，也對莫健表達選舉剩八十多天，台澎金馬自已還沒有跑完第一趟，時間壓力非常大，這趟美國之行，因為時間壓力，他無法成行，但保證明年選舉投票後，有可能的話，自己立刻去美國拜訪，莫健表達能理解他的想法。「未來如果有時間的話，我的內人李佳芬可以代表我去美國的話，我們再來進行規劃。」韓國瑜說，莫健知道選舉剩八十多天，加上之前高雄市政府工作繁忙，他無法請假太長時間，現在他請假，莫健能了解他一站一站跑，一站一站傾聽的觀點。韓國瑜競選辦公室隨後發佈新聞稿，指出國民黨總統參選人韓國瑜正進行全台「土地傾聽學習之旅」，他18日上午回到高雄市政府，以高雄市長身份接待美國在台協會（AIT）主席莫健（James F. Moriarty），雙方進行閉門會談。外界高度關注韓國瑜何時會再訪美，對此，韓國瑜下午表示，距離明年總統大選只剩84天，如果要訪美，時間上至少得花費兩個星期，但現在全台各地仍有許多熱情邀約，韓陣營在經過審慎評估後，決定忍痛放棄訪美行程，將心力留在台灣，韓國瑜也將持續深入基層，聆聽民意。韓國瑜指出，他今天上午和莫健會面時，已經親自告知美方這個決定，由於台澎金馬等地區跑起來，現在都還沒完全跑完第一趟，時間壓力非常大，因此這趟訪美行無法成行，韓國瑜也向莫健承諾，明年投完票後如果情況允許，會立刻到美國拜訪。韓國瑜表示，前陣子高雄市政繁忙，自己身為高雄市長，無法請假太長時間，莫健也能夠理解自己必須一站一站到全台傾聽、學習，而之後如果有時間，也將規劃請夫人李佳芬代表韓國瑜訪美，拜會海外僑胞，並呼籲海外的庶民夥伴明年都能回台投票，完成下架民進黨的目標。（地方中心/屏東報導）台灣《果燃台》《蘋果新聞網》《蘋果新聞網》Facebook《蘋果新聞網》YouTube頻道發稿時間：14:25更新時間：15:30（新增韓國瑜受訪影片）\xa0',
 'dt': datetime.datetime(2019, 10, 18, 15, 30),
 'category': '政治'}

In [145]:
import pandas
newsdf = pandas.DataFrame(newsary)

In [146]:
newsdf

,category,content,dt,title
0,政治,台中市大里區光榮國中日前的國文段考試題，竟出現「韓總管是個奸詐卑鄙的小人….」、「國榆出身卑...,2019-10-18 15:18:00.000,「韓總管是卑鄙小人」入段考題 國中道歉：未來出題避免政治
1,生活,(新增：學者說法)桃園國際機場第三航廈主體工程三度流標，桃機公司今天(10/18)向交通部提...,2019-10-18 15:17:00.000,桃機三航廈三度流標！修掉花俏屋頂從簡 確定延至2024年完工
2,政治,國民黨總統參選人、高雄市長韓國瑜請長假下鄉拚大選，上午臨時銷假回高雄市政府會見美國在台協會主...,2019-10-18 15:30:00.000,韓國瑜證實取消訪美 規劃李佳芬代夫出征
3,財經地產,美股財報季來臨，本周由醫療、銀行股打頭陣，其中，嬌生、聯合健康兩大醫療業龍頭都繳出亮眼成績，...,2019-10-18 15:15:00.000,財報助攻 投信看好醫療科技回神
4,財經地產,中國國家市場監督管理總局今在官網公告，該局局長肖亞慶周四（17日）在北京會見了美國蘋果公司（...,2019-10-18 15:13:00.000,Apple執行長庫克再訪中 長袖善舞惹爭議
5,財經地產,高雄房市今年買氣提升，從今年前9月建物買賣移轉棟數可看出端倪，交易量提升15%！但數字背後真...,2019-10-18 15:11:00.000,慘烈！ 高雄房價創新高銷售率卻新低
6,國際,觸發港府修訂《逃犯條例》、以致「反送中惡法」運動的台灣殺人案嫌犯陳同佳，下周三（23日）因洗...,2019-10-18 15:09:00.000,港女箱屍案主嫌傳將來台投案 港《蘋果》：國民黨將安排律師商討
7,娛樂時尚,【編者按】《蘋果新聞網》進入會員新世代，為回饋升級壹會員支持，節目源源不絕推出。台灣《果燃台...,2019-10-18 15:07:00.000,【Video Talk】夢多戳破遊日地雷 脫口蛤、嘖犯大忌
8,None,廖倫瑜／研究助理<br /><br />《蘋果日報》今日獨家報導指出，由於韓國瑜代表國民黨出...,2019-10-18 07:08:23.718,
9,財經地產,中國公布第3季GDP（國內生產毛額）較去年同季成長6%，遭遇「保6」危機，自第2季成長率6....,2019-10-18 15:03:00.000,關稅太傷！中國經濟成長率摔27年半新低
10,財經地產,金管會發放純網銀執照後風波不斷，其中純網銀董事應符合金金分離的要求，引發銀行大股東不滿，甚至...,2019-10-18 15:03:00.000,純網銀董事一度難產 顧立雄今證實3家都過關
11,生活,南投草屯毓繡美術館推出年度壓軸大展《食人之道》，邀請義大利當代寫實藝術家尼古拉．薩莫利（Ni...,2019-10-18 15:02:00.000,破壞展現衝突 義大利寫實藝術家南投個展
12,國際,美國諷刺卡通《南方四賤客》(South Park)最新一期節目再續前兩周火力，繼續砲轟中國「...,2019-10-18 15:01:00.000,《南方四賤客》再砲中國 暗諷NBA詹姆士舔共
13,社會,新竹一名9個月大男嬰日前獨自在臥房熟睡，半夜卻不明原因頭下腳上摔進床邊40公分高的垃圾桶，被...,2019-10-18 15:00:00.000,9月大男嬰「頭下腳上」摔進垃圾桶 臉發青昏迷指數3
14,生活,foodpanda、Uber Eats本月(10月)在短短5天內發生3起外送員車禍身亡憾事，...,2019-10-18 15:00:00.000,【獨家／外送險象3】不甩禁令照賺錢！ 《蘋果》實測「戶戶送」違規營運
15,生活,秋冬進入阿里山年度楓紅盛事，林務局阿里山林業鐵路及文化資產管理處特別在12月推出《款行.楓旅...,2019-10-18 14:55:00.000,阿里山紅色饗宴 林鐵賞楓主題列車12月登場
16,國際,中國自改革開放後，這20多年來經濟不斷起飛成長，甚至成為威震世界的「大撒幣之國」，但最新經濟...,2019-10-18 14:54:00.000,中國大撒幣時代已逝？ GDP成長創27年來最差
17,社會,彰化一名已婚、退休的李姓男子，前年6月到10月間，與已婚的張姓女子多次進出汽車旅館、還在車上...,2019-10-18 14:54:00.000,「聞妳味道上癮像吃榴槤」 男女偷情對話全都錄！判賠50萬元
18,財經地產,由於台北市政府今公告，台北市雙子星大樓開發案因原最優申請人南海馬頓團隊，因未能於北市捷運局通...,2019-10-18 14:51:00.000,台北市雙子星開發案拍板！ 藍天集團遞補獲優先資格
19,None,台灣大賽在昨天落幕，Lamigo桃猿隊以4勝1敗如願完成3連霸作業，而「恰恰」彭政閔也完成球...,2019-10-18 06:50:44.127,
20,娛樂時尚,郭彥甫以藝術家身分和曲艾玲出席複合式歐系精品選物店HAMA BOUTIQUE派對，配合活動主...,2019-10-18 14:50:00.000,藝術家郭彥甫出關 自嘆不是好老公
21,生活,嘉義市政府推動市區公車，自即日起至108年12月31日止，全國民眾只要持悠遊卡、一卡通等電子...,2019-10-18 14:50:00.000,嘉市推免費公車 邀市民學童先體驗
22,None,王崇堯／台南神學院院長<br />&nbsp;<br />10月10日香港中文大學舉行一場師...,2019-10-18 06:47:00.603,
23,娛樂時尚,韓國演藝圈性醜聞時有所聞，近日已出道3年的4人組女團成員韓某，出面指控本月1日練舞時，遭到經...,2019-10-18 14:45:00.000,「你跳舞像在做愛」 韓女團成員遭老闆性騷擾
24,政治,新竹市民進黨立委參選人鄭宏輝長期關注消防議題，他本身也是20年資歷義消，目前擔任竹市義消總隊...,2019-10-18 14:44:00.000,任竹市義消19年 立委參選人挺義消入法
25,社會,已故誠品創辦人吳清友遺孀洪肅賢名下別墅遭法拍！台北地院證實，洪女位於新北市新店區安祥路「彩蝶...,2019-10-18 15:30:00.000,誠品創辦人吳清友遺孀別墅遭法拍 底價1.45億
26,財經地產,搶先預演雙11盛況，富邦媒（8454）momo購物網攜手永豐餘（1907）旗下五月花、橘子工...,2019-10-18 14:43:00.000,預演雙11 momo衛生紙、洗潔商品演練物流配送
27,財經地產,為了因應數位化浪潮，台灣金融服務業聯合總會與會計研究發展基金會於今（18）日舉辦「2019金...,2019-10-18 14:42:00.000,未來金融服務5大趨勢 顧立雄：7面向加強管理

In [128]:
import requests
res = requests.get('https://tw.news.appledaily.com/forum/20191018/2PSLCMNC376LJBCMC24TVOSL5I/')

In [137]:
import re
m = re.search('"content_elements":(\[.*?\]),',res.text)
eval(m.group(1))[0]['content']

'廖倫瑜／研究助理<br /><br />《蘋果日報》今日獨家報導指出，由於韓國瑜代表國民黨出馬競選的態勢已經確定，因此美國已向韓陣營傳達樂見他赴美「面試」。美方這次表現高度的誠意和善意，透過國民黨立委許毓仁傳話，主動表達邀請他赴美說明政策立場。不僅如此，為了減低韓國瑜的壓力，美方還提前「洩題」，希望韓到時能夠說明關於台灣未來是否在經濟上有過度依賴中國之虞等幾個問題，<br /><br />即便美國已經如此盛意拳拳，甚至都已把考卷快遞到家，但韓國瑜陣營卻還是傳出，內部對於是否讓韓訪美這件事意見喬不攏，有人說該去，有人說不該去。美方的作法幾乎等同在一場棒球比賽中，投手宣告將投出正中直球，放水讓打者可以把球打得又高又遠，而韓陣營的回應竟然是猶豫該不該讓打者站上打擊區？最後決定不赴美「面試」，這是什麼邏輯？<br /><br />據傳，其中反對韓國瑜赴美最力的，就是他國政顧問團中的頭號要角蘇起。蘇認為要是韓國瑜準備不足，到時赴美表現不如預期甚至被打臉，到時反而大大失分，因此不如顧好國內選舉就好。這說法乍聽有理，但細思之後卻有說不通之處。如果美國方面都已洩題，希望他對幾個美方關切的問題做出說明，那韓陣營要做的就是幕僚工作，幫老闆把答案寫好，讓他到美國照稿念即可。而幫韓國瑜準備答案不就是國政顧問團的工作嗎？難道蘇起國政顧問團的能力和學養沒有信心嗎？<br /><br />但是只要撇一眼韓國瑜國政顧問團的名單就知道，裡面不是久歷官場的政壇老兵，就是望重士林的大學教授。依這些人的學養跟能力，答一份已經知道問題的考卷根本就易如反掌，根本完全不可能有「準備不足，赴美被打臉」的情況發生。顯見，問題絕對不是出在韓的幕僚作業上，而是國政顧問團根本不認為韓國瑜有能力給美國人留下好印象。<br /><br />相信不少人都對韓國瑜今年8月應邀至台北美國商會（The American Chamber of Commerce in Taipei）時，發表的中英文夾雜演說還記憶猶新。那時韓國瑜有一句話是這麼說的：「我的 tuition in the fee，大學生活費都是American Chamber pay me」，這種不倫不類的中英文夾雜，不僅不該出現在正式演說中，韓國瑜甚至還把美國商會的全稱講錯。可以想見，幕僚給韓市長的絕對不可能是一篇中英夾雜的演說稿，這顯然是韓國瑜自作聰明的即興演出。在韓眼中，他認為他的「自作聰明」會給他加分，但殊不知在美國人和外界看來，這既不莊重又自曝其短。<br /><br />也就是說，蘇起等人非常清楚，即便他們手中已有一張洩題的考卷，而國政顧問團也為韓國瑜擬定了完美的答案，屆時韓還是有極大的可能「自作聰明」的脫稿演出，導致他「準備不足，赴美被打臉」。這種「自作聰明」反映了韓本人在知識上和格局上的侷限，簡單來說就是上不了檯面，而最清楚這個侷限的當然就是他所倚重的國政顧問團。因此，為什麼蘇起要反對韓國瑜訪美，實在就是護主心切，不想韓市長自曝其短，丟臉丟到國外去啊！'

## 抓取不同分頁新聞

In [148]:
import requests
newsurl = 'https://tw.appledaily.com/new/realtime/{}'
newsary = []
for i in range(1,3):
    res = requests.get(newsurl.format(i))
    soup = BeautifulSoup(res.text, 'lxml')
    for news in soup.select('li.rtddt a'):
        url = news.get('href')
        try:
            newsary.append(pageDetail(url))
        except Exception as e:
            print(url)

https://tw.sports.appledaily.com/realtime/20191018/1650706/
https://tw.sports.appledaily.com/realtime/20191018/1650695/
https://tw.lifestyle.appledaily.com/gadget/realtime/20191018/1650411/
https://tw.lifestyle.appledaily.com/gadget/realtime/20191018/1650671/

In [149]:
import pandas
newsdf = pandas.DataFrame(newsary)

In [151]:
newsdf.to_excel('appledaily.xlsx')

## 591 租屋網

In [160]:
import requests
from bs4 import BeautifulSoup
rs = requests.session()
res = rs.get('https://rent.591.com.tw/?kind=1&region=1&section=5')
soup = BeautifulSoup(res.text, 'lxml')
token = soup.select_one('meta[name="csrf-token"]').get('content')
token

'DudB115mBDJffJkwj3Yfcp2K2f7uzZ0Z9KFtjFcw'

In [162]:
import requests
headers  = {
 'X-Requested-With': 'XMLHttpRequest',   
 'X-CSRF-TOKEN': token,
 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36'   
}
res = rs.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=854', headers = headers)
jd = res.json()

In [167]:
import pandas
df = pandas.DataFrame(jd['data']['data'])

In [170]:
#df.columns

In [172]:
df = df[['address', 'floor', 'allfloor', 'layout','area', 'price','browsenum_all']]

In [176]:
import requests
import math
headers  = {
 'X-Requested-With': 'XMLHttpRequest',   
 'X-CSRF-TOKEN': token,
 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36'   
}
houseary = []
for i in range(math.ceil(854 / 30)):
    p = i * 30
    res = rs.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow={}&totalRows=854'.format(p), headers = headers)
    jd = res.json()
    df = pandas.DataFrame(jd['data']['data'])
    df = df[['address', 'floor', 'allfloor', 'layout','area', 'price','browsenum_all']]
    houseary.append(df)

In [178]:
import pandas
housedf = pandas.concat(houseary)

In [180]:
housedf['price'] = housedf['price'].map(lambda e: int(e.replace(',','')))

In [183]:
housedf.sort_values('price').head(3)

              address  floor  allfloor  layout  area  price  browsenum_all
27     永康街41巷永康公園旁雅..      6         6  1房0廳0衛   6.0   6500           1446
25  復興南路一段107巷位太平洋百..      5         5  1房0廳0衛   4.0   7500           1703
12  安和路一段90巷近仁愛國小捷運..    100         5  1房0廳1衛  13.0  11000            197

In [185]:
housedf.sort_values('price', ascending= False).head(3)

,address,floor,allfloor,layout,area,price,browsenum_all
6,仁愛路三段帝寶ThePalace我成..,8,18,5房2廳4衛,210.7,350000,171
1,瑞安街81巷瑞安豪宅❂裝潢、家..,2,13,4房2廳3衛,112.6,280000,259
18,瑞安街81巷●仲介費８折●豪宅..,2,13,4房2廳3衛,112.6,280000,180

In [186]:
housedf['avg_price'] = housedf['price'] / housedf['area']

In [187]:
housedf['avg_price'].describe()

count     854.000000
mean     1687.777906
std       554.069611
min       580.000000
25%      1317.975941
50%      1590.106007
75%      1979.654009
max      5504.587156
Name: avg_price, dtype: float64

In [188]:
housedf.sort_values('avg_price', ascending= False).head(3)

,address,floor,allfloor,layout,area,price,browsenum_all,avg_price
26,信義路二段✪旺德美客✵近東門..,11,11,3房2廳2衛,10.9,60000,97,5504.587156
19,建國南路一段新落成現代簡約風..,5,14,2房2廳1衛,12.5,56000,125,4480.000000
6,金山南路二段大安區和平大..,2,38,1房2廳1衛,13.5,60000,194,4444.444444

## SQLIte

In [189]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('SELECT SQLITE_VERSION()')
data = cur.fetchone()
print(data)
con.close()

('3.24.0',)

In [190]:
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print(data)

('3.24.0',)

In [192]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchall() 
    for rec in data: 
        print(rec)
        print(rec[0], rec[1])

('0912173381', 'United State')
0912173381 United State
('0928375018', 'Tokyo Japan')
0928375018 Tokyo Japan
('0957209108', 'Taipei')
0957209108 Taipei

In [193]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchone() 
    print(data)
    data = cur.fetchall() 
    print(data)

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [195]:
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},{'name':'John', 'age':33 , 'gender': 'M'}]
employee

[{'name': 'Mary', 'age': 23, 'gender': 'F'},
 {'name': 'John', 'age': 33, 'gender': 'M'}]

In [196]:
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [197]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

In [199]:
with lite.connect('test.sqlite') as db:
    df2 = pandas.read_sql_query('SELECT * FROM employee', con = db)
df2

   age gender  name
0   23      F  Mary
1   33      M  John

## 591 租屋網資料

In [202]:
housedf.head(3)

,address,floor,allfloor,layout,area,price,browsenum_all,avg_price
0,光復南路國父紀念館..,2,9,2房1廳1衛,28.0,27939,3323,997.821429
1,敦化南路一段236巷遠東SO..,2,7,2房1廳1衛,32.0,32501,2844,1015.656250
2,潮州街48巷古亭站自租中正..,2,6,2房2廳2衛,33.1,75000,3029,2265.861027

In [203]:
with lite.connect('house.sqlite') as con:
    housedf.to_sql('rent591', con = con, if_exists='replace')

In [208]:
with lite.connect('house.sqlite') as con:
    #df2 = pandas.read_sql_query('select * from rent591', con = con)
    #df2 = pandas.read_sql_query('select * from rent591 order by price desc limit 3', con = con)
    df2 = pandas.read_sql_query('select address, price/area as avg_price2 from rent591 order by avg_price2 desc limit 3', con = con)

In [209]:
df2

            address   avg_price2
0  信義路二段✪旺德美客✵近東門..  5504.587156
1  建國南路一段新落成現代簡約風..  4480.000000
2    金山南路二段大安區和平大..  4444.444444

## PTT (Cookie)

In [213]:
?requests.get

In [218]:
import requests
cookies = {'over18':'1'}
res = requests.get('https://www.ptt.cc/bbs/Gossiping/M.1571133975.A.DDA.html?fbclid=IwAR1OJ6mmsYrUAU-65v8b3j_izSGckrm6t5CNZ8KDwK6eC7Fj14hYTBnUsX8',
                   cookies = cookies)
#print(res.text)

## 卡提諾 (User-Agent)

In [219]:
import requests
res = requests.get('https://ck101.com/')
res.text

''

In [220]:
import requests
res = requests.get('https://www.largitdata.com/')
res

In [221]:
import requests
headers = {
  'user-agent': 'qoo'  
}
res = requests.get('https://www.largitdata.com/', headers = headers)
res

In [223]:
import requests
headers = {
  'user-agent': 'qoo'  
}
res = requests.get('https://ck101.com/', headers = headers)
#res.text

## 證交所 (阻擋IP)

In [225]:
import requests
import time
for i in range(100):
    res = requests.get('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=20191018&type=MS&_=1571389562644')
    res.json()
    print(i)
    time.sleep(3)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

## Proxy 種類
- smartproxy
- stormproxy
- squidproxy
- sharedproxy

## 財報狗 (需要登入的網站)

In [228]:
import requests
headers = {
  'cookie': 'buuid=VWlFSzZBSWxGb2RrK1BlKy95dGZVOHk2a3RGOWZXTXVObWtQTWtCcCtwWjdMeFBuYXNKZTYvbm9qSCtHYUd0cC0tUU1ZR2tyK0QxUHFTb2ljL3VDWCtMZz09--ecaca4e3dd311ddb4b8da91e65c141d2dccc9f6d; easy_ab=40d5e0e1-b292-4e6f-9e4a-9583fbe9c9b5; _ga=GA1.2.860094865.1568734397; _fbp=fb.1.1568734396970.242972596; _gid=GA1.2.481735538.1571390007; upgrade_browser=1; intercom-id-d5wdetwg=8a1bad79-4701-419a-ad3e-29bdd8f0160f; remember_user_token=W1s0MzAzNzZdLCIkMmEkMTAkMkJJS2JBZXNGUmliQW9OcXpIV2M2LiIsIjE1NzEzOTAwOTUuMTc2NDQ5MyJd--09d63cf8853e4a8fed48de108a7828a806191789; _gali=naviMy; intercom-session-d5wdetwg=ZTREVzVEdmF5eGdJMHFxbGFxZUZmaHNnNnVhRnJHTXNQRy9YL0Q2OUw1YzJ4dGVyVWdpNDZjVjd3cUJFYUZONS0tWDZESXNWUXFLVkI1aDFIaUhWdUxLdz09--c3263e59491857e07e575840b771e11e18786b2f; _statementdog_session_v2=cUZHWHIyZ3NqTGl5eVIwTmR4ajY1SUkvdzhFZFc5Wmd4cWt5R0I2SFZNcGdYd3kvdkpvMXFZRlZ3MjBqcEdkWmE0N01pai9DRFQva0x5aWtSb1JpVDJZcnd3SXdVSEl3N3JhTkJVSENpRU1WVFR2N2Irc3labG13bVlRSmRScnVsWG1FaFRCOGdBQ25NZkM0TEN2eXRTNHZsRUZJdC8vdDdYSEkrZTBvYWtPdHFTWHdRY1E3blpYcEdtMXBMSkxuUUJ2bnRkU29HeXowNXQyeDJmbXVFMVFQQVZ4cHB6YjE3UENvL0lYQ1Z3bmd5L3RRRW5hYmFZNnVtcUdPWnN6NVdobVk1bWlNL3dNT3VvRFNqUjcxUko1OVFsNEMvakpCZ2Nzd1p6QmNEWE45QlZFakUzZmhKbHFkY1NjKzdUSGR6Mk93TE9adm5qcHBSUUtZcVFhR2t3PT0tLW5ublE1MGxKWFM5RmkwbFZUekcvbmc9PQ%3D%3D--069eac991670b5468267d81e98eb2636dc390f00; _gat=1; amplitude_id_0ab77a441fbc226251ef1a272380fcd7statementdog.com=eyJkZXZpY2VJZCI6ImIxYzI0NjI5LWZiYjctNGJmNi04YzExLTEyNWZkYTI1ZTMyM1IiLCJ1c2VySWQiOiI0MzAzNzYiLCJvcHRPdXQiOmZhbHNlLCJzZXNzaW9uSWQiOjE1NzEzOTAwMDc0MjAsImxhc3RFdmVudFRpbWUiOjE1NzEzOTAxNTIzMjYsImV2ZW50SWQiOjI0LCJpZGVudGlmeUlkIjozMCwic2VxdWVuY2VOdW1iZXIiOjU0fQ=='  
}
res = requests.get('https://statementdog.com/api/v1/feeds?&_=1571390153123', headers = headers)
#res.json()

## 期交所

In [229]:
url ='https://www.taifex.com.tw/cht/3/dlOptDataDown'
payload = {
'down_type': '1',
'commodity_id': 'specialid',
'commodity_id2': 'all',
'queryStartDate': '2019/10/18',
'queryEndDate': '2019/10/18'    
}
res = requests.post(url, data = payload)

In [231]:
#res.text

## Instagram

In [234]:
import requests
import re
res = requests.get('https://www.instagram.com/watanabenaomi703/?hl=zh-tw')
m = re.search('window._sharedData = (.+);</script>',res.text)

In [236]:
import json
jd = json.loads(m.group(1))

In [246]:
edges = jd['entry_data']['ProfilePage'][0]['graphql']['user']['edge_felix_video_timeline']['edges']

In [251]:
for idx, ele in enumerate(edges):
    res = requests.get(ele['node']['display_url'])
    with open('{}.jpg'.format(idx), 'wb') as f:
        f.write(res.content)

In [250]:
with open('1.jpg', 'wb') as f:
    res = requests.get('https://instagram.ftpe7-1.fna.fbcdn.net/vp/fed568ef8fbf4e915539888765c8ee6a/5DABAB91/t51.2885-15/e35/66376587_159080425243342_37869935385781174_n.jpg?_nc_ht=instagram.ftpe7-1.fna.fbcdn.net&_nc_cat=110')
    f.write(res.content)